.difficulty {
  min-width: 70px;
  margin-right: 10px;
}

.label.difficulty {
  padding-top: 0.6em;
  color: #ffffff;
  font-size: 12px;
}

.title {
  font-size: 1.2em;
}

.diff-easy {
  background-color: #03c20c;
}

.diff-medium {
  background-color: #d6b250;
}

.diff-hard {
  background-color: #dd0d1e;
}

